<div class="content-box-large">
  <div class="panel-heading">
    <h3><%= t "admin.pages.dashboard" %></h3>
  </div>
  <div class="panel-body">
    <%= "#{@shops_count} shops joined" %>
  </div>
</div>
