<div class="content-box-large">
  <div class="panel-heading">
    <h3><%= t "admin.shipping_methods.edit.title" %> <%= "##{@shipping_method.id}" %></h3>
  </div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>
