$nprogress-color: #4aa3df;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import "customer/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "owl.carousel/dist/assets/owl.carousel";
@import "font-awesome/css/font-awesome";
@import "checkboxes";
@import "inicis_standard/inicis_standard";
@import "shopstory_ticket/frontend";
@import "base";
