# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore application configuration
/config/application.yml
/vendor/assets/bower_components/

/public/uploads

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/keys/
/qrcodes/
/node_modules/
.idea/
/kakao/
/inicis/
kakao
inicis
app/assets/javascripts/i18n
.DS_Store

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
