@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Francois+One);

/* Base element */
body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: "Francois One", sans-serif;
}

h2 {
  margin-bottom: 20px;
}

hr {
  border-color: #eee;
}

a {
  color: #222;
  &:hover, &:focus, &:active {
    color: #666;
  }
}

/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 400;
}
.btn-primary {
  background: #000;
  color: #fff !important;
  border: 1px solid #000;
}

/* Alert, Label */
.alert {
  margin-bottom: 0;
}
label {
  font-weight: 400;
}

/* Heading */
.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  span {
    background: #fff;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    z-index: 999;
  }
  &:after {
    border-bottom: 1px solid #d9d9d9;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

/* Ultility */
.top15 {
  margin-top: 15px;
}

/* Header */
.header {
  z-index: 9999;
  .container {
    position: relative;
  }
  .logo {
    text-align: center;
    padding: 10px 0 20px;
    border-bottom: 1px solid #c7c7c7;
    a {
      display: inline-block;
    }
    img {
      display: block;
      max-height: 120px;
      margin: auto;
    }
  }
  .top {
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    background: #f9f9f9;
    height: 50px;
    border-bottom: 1px solid #c7c7c7;
    a {
      padding-right: 10px;
    }
    .pull-right {
      margin-top: 2px;
    }
  }
  .login {
    margin-right: 15px;
    a:not(:last-child):after {
      content: "/";
      margin: 0px 5px;
    }
  }
  .languages {
    margin-right: 15px;
    a {
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}

/* Navigation */
.navbar {
  border-radius: 0px;
  border: none;
}
.navbar-default {
  background: #fff;
  border-bottom: 1px solid #c7c7c7;
  .navbar-collapse {
    border-color: transparent;
  }
  li > a {
    font-size: 22px;
    font-family: "Francois One", sans-serif;
    color: #222 !important;
    text-transform: uppercase;
  }
  .navbar-toggle {
    border: none;
    &:hover, &:active, &:focus {
      background: transparent;
      .icon-bar {
        background-color: #222;
      }
    }
    .icon-bar {
      background-color: #222;
      height: 2px;
    }
  }
  .cart {
    i {
      margin-right: 5px;
    }
  }
}

/* Login, register */
.login, .register {
  .title {
    margin-bottom: 15px;
  }
  p.small {
    margin-top: 10px;
  }
  label {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.term, .privacy {
  max-height: 100px;
  overflow: auto;
  border: 1px solid #c3c3c3;
  padding: 5px 5px 0px 8px;
  font-size: 11px;
}

/* Category */
.category {
  .product-item:nth-child(4n+1) {
    clear: both;
  }
}
.product-item {
  text-align: center;
  img {
    display: inline-block;
  }
  .name {
    margin-top: 5px;
    line-height: 1.3;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

/* Product, variation */
.sorter {
  margin-bottom: 15px;
}

.variation-selector {
  .selected {
    background: #000;
    color: #fff;
    border: none;
  }
  li:not(:first-child) {
    margin-left: 10px;
  }
}

/* Cart */
.cart {
  .item {
    margin-bottom: 10px;
    img {
      max-height: 120px;
    }
    .fa {
      font-size: 15px;
      margin: 0 5px;
      color: #aaa;
      cursor: pointer;
    }
  }
}

.cart-container {
  width: 320px;
  display: block;
  padding: 0px;
  position: fixed;
  right: -320px;
  top: 0;
  bottom: 0;
  z-index: 9999;
  padding: 5px;
  overflow: auto;
  background: #fff;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #c9c9c9;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transform: translateZ(0);
  .col-xs-3 {
    padding: 2px;
    text-align: center;
  }
  &.open {
    display: block;
    right: 0;
  }
  .row {
    margin-bottom: 10px;
  }
  .item {
    .fa {
      font-size: 10px;
      margin: 0 5px;
    }
  }
  .name {
    font-size: 13px;
    text-align: left;
  }
  .fa {
    color: #aaa;
    cursor: pointer;
  }
  .alert-danger {
    margin-bottom: 15px;
  }
  .cart-buttons {
    margin-bottom: 10px;
    .btn {
      margin: 5px;
    }
  }
  .image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .cart-container {
    position: absolute;
    top: 40px;
    bottom: auto;
    right: 0;
    display: none;
  }
}

/* Product Slider */
.ps-container {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .ps-feature {
    margin: auto;
    overflow: hidden;
    li {
      text-align: center;
      display: none;
      &.active {
        display: block;
      }
    }
    img {
      display: inline-block;
    }
  }
  .ps-navigation {
    text-align: center;
    li {
      margin: 10px;
      display: inline-block;
      margin: 15px 5px;
    }
    img {
      cursor: pointer;
    }
  }
}

/* Checkout */
.checkout {
  padding-top: 30px;
  .col-sm-6:last-child {
    h2 {
      margin-bottom: 40px;
    }
  }
}

.checkout-form {
  .billing-address > label {
    margin-bottom: 15px;
  }
  .billing-address p {
    margin-bottom: 5px;
  }
  form {
    p {
      margin: 0;
    }
    .form-group {
      margin-bottom: 5px;
    }
  }
  img.payment-method-image {
    margin: 0 0 10px 10px;
  }
  .coupon {
    margin: 5px;
    label, input, button {
      margin: 5px;
    }
  }
  .steps {
    list-style-type: none;
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
    li {
      .badge {
        font-size: 20px;
        border-radius: 20px;
        margin-right: 3px;
        &.active {
          background: #2ecc71;
        }
      }
      font-size: 22px;
      display: inline;
      margin-right: 15px;
    }
  }
  .summary {
    background: #eee;
    padding: 10px;
    h2 {
      border-bottom: 1px solid #aaa;
      padding-bottom: 10px;
    }
    p {
      margin-bottom: 3px;
      font-weight: bold;
      label, i {
        margin-right: 15px;
        font-weight: normal !important
      }
    }
    .cart-items {
      margin-top: 15px;
    }
  }
}


/* Pagination */
.pagination {
  text-align: center;
  display: block;
  a {
    font-weight: 700
  }
  .current {
    background: #3498db;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 20px;
    font-weight: 700;
  }
}

/* Select dropdown */
.select {
  position: relative;
  display: block;
  min-width: 300px;
  border: 1px solid #eee;
  &:after {
    content:'\f0d7';
    font-family: 'FontAwesome';
    font-size: 18px;
    padding: 0 0 2px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 4px;
  }
  &:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    display: block;
  }
  select {
    height: 30px;
    width: 100%;
    display: inline-block;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

/* Breadcrumb */
.breadcrumb {
  background: #fff;
  padding: 10px 0;
  span {
    a {
      text-transform: uppercase;
    }
    &:not(:last-child):after {
      content: ">";
      margin: 0 5px;
    }
  }
}

/* Banner */
.owl-carousel {
  margin-top: -20px;
}

.owl-item {
  max-height: 600px;
  .text {
    h2 {
      color: #fff;
    }
    position: absolute;
    top: 35px;
    left: 15px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .owl-item {
    .text {
      h2 {
        font-size: 36px;
      }
      top: 80px;
      left: 25px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .owl-item {
    .text {
      h2 {
        font-size: 52px;
      }
      a {
        font-size: 32px;
      }
      top: 150px;
      left: 50px;
    }
  }
}
