<% content_for :external_script do %>
  <%= javascript_include_tag "http://dmaps.daum.net/map_js_init/postcode.v2.js", "data-turbolinks-track": true %>
<% end %>

<div class="row shops">
  <div class="col-md-12">
    <h3 class="title"><%= t "merchant.admin.shops.general_settings" %></h3>
    <%= react_component "ShopForm", @props, {prerender: true} %>
  </div>
</div>
