<section class="home bg-img-2" id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-wrapper home-wrapper-alt">
          <h1 class="text-white-home">THE FASTEST WAY TO BUILD YOUR ONLINE SHOP IN KOREA</h1>
          <h4 class="text-light">Shopstory the eCommerce website builder that enables you to quickly and eaisly launch a fully featured online shop in minutes. Start selling online  internationally & domestically in South Korea Today.</h4>

          <%= form_tag new_merchant_registration_path, method: :get, class: "form-inline" do |f| %>
            <%= text_field_tag :shop_name, nil, placeholder: t("pages.home.shop_name"),
              class: "form-control input-lg" %>
            <%= submit_tag t("buttons.get_started"), class: "btn btn-lg btn-inline btn-danger"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
