<section class="section bg-light" id="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="title">Localization for Korean Merchants</h3>
        <p class="text-muted sub-title">Shopstory has been designed from the ground up to meet the needs of Korean merchants and their customers.<br/> Using the latest web standards to allow Korean merchants to sell overseas and domestically easily.</p>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-global"></i>
          <h4>Language Support</h4>
          <p class="text-muted">Full support for English and Korean, both the Shop Admin and the frontend of the sites.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-credit"></i>
          <h4>Payment Intergrations</h4>
          <p class="text-muted">Major Korean payment gateways inlcuded, as well as popular international credit card options.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-box2"></i>
          <h4>Shipping Tracking</h4>
          <p class="text-muted">All local Logistic methods avaible. Get your products to your customers easily and efficiently. </p>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-mouse"></i>
          <h4>Checkout Optimized</h4>
          <p class="text-muted">Automatically show Korean friendly checkout feilds and Address lookup for customers.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-share"></i>
          <h4>SNS Sharing</h4>
          <p class="text-muted">Let your vistors Share your products on all major Korean social networks. </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-box">
          <i class="pe-7s-headphones"></i>
          <h4>Local Support</h4>
          <p class="text-muted">Get professioanl support from our team of native Korean and English eCommerce experts.</p>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
