<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <div class="title-box-icon">
            <i class="pe-7s-medal"></i>
            <h3 class="title">Clean and Ultra Modern Design</h3>
          </div>
        </div>
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col-sm-5">
        <div class="feat-description">
          <h4 class="text-muted">Wohoo</h4>
          <p class="text-muted">Shop Story prioritizes the important of mobile shopping. We provides Reponsive, Clean and Elegant Design templates to help your site looks awesome on all devices</p>
          <a href="#features" class="btn btn-custom">Learn More</a>
        </div>
      </div>
      <div class="col-sm-7">
        <%= image_tag asset_pack_path("static/images/landing/feature-1.png"),class: "img-responsive" %>
      </div>
    </div><!-- end row -->
  </div> <!-- end container -->
</section>
