<div class="container px-4 py-5" id="offers">
    <h2 class="pb-2 border-bottom">What we can offer 🤝</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Fully functional ecommerce store</h4>
          <p class="mt-2">All you need to sell your products online</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Multi-currencies</h4>
          <p class="mt-2">We support the most popular currencies USD, EUR, AUD, JPY, CNY and KRW</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Multi-languages</h4>
          <p class="mt-2">We support en-US, zh-CN, ja-JP and ko-KR which helps you sell globally</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Customized templates</h4>
          <p class="mt-2">Templates are fully customizable, from Sign-up to Order Confirmation page</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Visual report</h4>
          <p class="mt-2">We provide real-time Order report, Product Report and Payment Report so you can track your shop performance overtime</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Flexible coupons</h4>
          <p class="mt-2">Coupons are flexible. You can configure percentage based or fixed price coupon</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">SEO friendly</h4>
          <p class="mt-2">We provide tools for you to improve SEO ranking effectively</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Easy payment</h4>
          <p class="mt-2">We provide UX friendly checkout experience using Stripe and Paypal Express Checkout</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Free to use new features</h4>
          <p class="mt-2">No unexpected fee for new features. You can request for features you want in our <a href="https://trello.com/b/R3MIhoKD/singular-cart-development-backlog-%F0%9F%9A%80" target="_blank">backlog</a></p>
        </div>
      </div>
    </div>
  </div>
