<div class="container px-4 py-5" id="offers">
    <h2 class="pb-2 border-bottom">What we can offer 🤝</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Fully functional ecommerce store</h4>
          <p class="mt-2">Everything you require to successfully market and sell your products online</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Multi-languages</h4>
          <p class="mt-2">Our support for languages including English, Chinese (Simplified), Japanese, and Korean enables global sales opportunities</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Customized templates</h4>
          <p class="mt-2">Our templates offer complete customization, allowing you to tailor everything from sign-up to order confirmation pages to fit your needs</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Visual report</h4>
          <p class="mt-2">Access real-time reports on orders, products, and payments to monitor your shop's performance over time</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Flexible coupons</h4>
          <p class="mt-2">Coupons offer flexibility with options for percentage-based or fixed-price configurations</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">SEO friendly</h4>
          <p class="mt-2">We offer tools to help you enhance your SEO ranking effectively</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Easy payment</h4>
          <p class="mt-2">Enjoy a user-friendly checkout experience with seamless integration of Stripe and Paypal Express Checkout</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Free to use new features</h4>
          <p class="mt-2">There are no surprise charges for new features. You can suggest the features you desire, and we'll add them to our <a href="https://trello.com/b/R3MIhoKD/singular-cart-development-backlog-%F0%9F%9A%80" target="_blank">backlog</a></p>
        </div>
      </div>
    </div>
  </div>
