<section class="section bg-custom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="title text-white">Sell online in Korea</h3>
        <p class="text-light sub-title">Start your own eCommerce site in Korea, get first class support from our international team of experts.</p>
      </div>
    </div><!-- End row -->

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_tag new_merchant_registration_path, method: :get, class: "form-inline text-center" do |f| %>
          <%= text_field_tag :shop_name, nil, placeholder: t("pages.home.shop_name"),
            class: "form-control input-lg" %>
          <%= submit_tag t("buttons.get_started"), class: "btn btn-lg btn-inline btn-danger"%>
        <% end %>
      </div>
    </div><!-- End row -->
  </div> <!-- end container -->
</section>
