<div class="text-white bg-dark row mx-0" id="demo">
  <div class="col-md-6 px-0">
    <%= image_tag asset_pack_path("static/images/landing/clay-figure.jpg"), class: "img-fluid" %>
  </div>
  <div class="col-md-6 p-4 p-md-5">
    <h1 class="display-4 fst-italic">Our story</h1>
    <p class="lead my-3">I'm a software developer, and my wife is a talented clay artist specializing in anime figures. Inspired by her and others like her, I created SingularCart—a platform designed to showcase their talents and facilitate global shipping. Here's a demo of what we've built</p>
  </div>
</div>
