<div class="text-white bg-dark row mx-0" id="demo">
  <div class="col-md-6 px-0">
    <%= image_tag asset_pack_path("static/images/landing/clay-figure.jpg"), class: "img-fluid" %>
  </div>
  <div class="col-md-6 p-4 p-md-5">
    <h1 class="display-4 fst-italic">Our story</h1>
    <p class="lead my-3">I'm a software developer. My wife is an amazing clay artist who makes anime figures. One day, I wonder what if I can build something special for her and other people like her that can help them show their talent, and ship their products to the world. So I built Shopstory and here is the demo</p>
  </div>
</div>
