@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
  font-family: "FontAwesome";
  src: font-url("font-awesome/fonts/fontawesome-webfont.eot");
  src: font-url("font-awesome/fonts/fontawesome-webfont.eot#iefix") format("embedded-opentype"),
  font-url("font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
  font-url("font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"),
  font-url("font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  min-height: 100%;
  position: relative;
  line-height: 1.3;
  width: 100%;
  font-size: 13px;
  background: $white-dark;
}

label.label {
  color: $gray;
  font-size: 13px;
  line-height: 2em;
  padding: 10px 0;
}

.label {
  font-size: 100%;
}

.block {
  border-color: 1px solid $white-dark;
  box-shadow: 0 2px 4px #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  background: $white;
  padding: 10px 10px;
  .block-header {
   .title {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .block-body {
    background: $white;
  }
  &.transparent {
    background: transparent;
    box-shadow: none;
    .block-body {
      margin-top: 10px;
      background: transparent;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: $base-dark;
}

a {
  text-decoration: none;
  color: $gray-light;
  &:hover, &:focus {
    text-decoration: none;
    color: $base-main;
  }
}

aside.left-panel {
  background: $base-dark;
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
}

section.content {
  transform: none;
  &.expansed {
    margin-left: 0;
    transform: translate3d(230px, 0px, 0px);
  }
}

@media (min-width: 992px) {
  section.content {
    margin-left: 230px;
    &.expansed {
      transform: none;
      margin-left: 80px;
    }
  }
}

.qrcode {
  margin-top: 10px;
  margin-bottom: 10px;
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
}

.form-submit.fixed {
  position: fixed;
  bottom: 0;
  background: rgba(250,250,250, 0.8);
  padding: 10px;
  left: 0;
  right: 0;
  text-align: right;
  &.scrolled {
    position: relative;
    background: none;
  }
}

.modal-content {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  iframe {
    border: medium none;
    min-height: 400px;
    width: 100%;
  }
}
