.categories {
  .block-header {
    .btn {
      margin-top: -5px;
    }
  }
  .title {
    margin-top: 0;
    color: $gray-dark;
    text-transform: uppercase;
  }
  .btn-group {
    margin-top: 10px;
    .btn {
      font-size: 12px !important;
    }
  }
}
