.design.generals {
  img {
    background: #eee;
    margin-top: 5px;
    padding: 5px;
  }
}

.design.themes {
  &.theme-list {
    .theme {
      .block {
        position:relative;
      }
      .label {
        margin-top: 20px;
        text-transform: uppercase;
      }
      .overlay {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #222;
        opacity: 0.3;
      }
      .btn {
        display: none;
        position: absolute;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 150px;
        padding: 10px 30px;
        right: 0;
        margin: auto;
      }
      &:hover {
        .overlay, .btn {
          display: block
        }
      }
    }
  }
}
