.menu-list {
  .menu {
    .btn {
      border-radius: 3px;
    }
    .title {
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      font-size: 18px;
    }
    .menu-item {
      .title {
        border: none;
        padding: 5px;
        font-size: 13px;
      }
    }
  }
}

.menu-form {
  h4 {
    font-weight: 400;
  }
}

.draggable-list {
  display: block;
  .fa {
    font-size: 18px;
    margin-left: 5px;
  }
  .draggable-item {
    display: block;
    min-height: 50px;
    padding: 1px;
    margin-bottom: 5px;
    .draggable-list {
      width: 90%;
      margin-left: 10%;
    }
  }
  .placeholder {
    background: #eee;
    height: 50px;
    display: block;
    border: 1px dashed #aaa;
    margin-bottom: 5px;
  }
  .draggable-title {
    display: block;
    padding: 10px;
    height: 50px;
    border: none;
    font-size: 13px;
    background: #eee;
    margin: 0;
  }
}

.autocomplete-data {
  box-shadow: 1px 1px 13px #eee;
  list-style-type: none;
  padding: 0;
  background: #f8f9f9;
  margin-top: -3px;
  border-radius: 0px 0px 3px 3px;
  li {
    padding: 10px;
    &:hover {
      cursor: pointer;
      background: #f4f5f6;
    }
  }
}
