.menu-list {
  .menu {
    .btn {
      border-radius: 3px;
    }
    .title {
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      font-size: 18px;
    }
    .menu-item {
      .title {
        border: none;
        padding: 5px;
        font-size: 13px;
      }
    }
  }
}

.menu-form {
  h4 {
    font-weight: 400;
  }
}

.draggable-list {
  display: block;
  .fa {
    font-size: 18px;
    margin-left: 5px;
  }
  .draggable-item, .placeholder {
    display: block;
    background: #eee;
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
  }
  .placeholder {
    border: 1px dashed #aaa;
  }
  .draggable-title {
    border: none;
    padding: 5px;
    font-size: 13px;
  }
}
