.variation-option {
  margin-bottom: 10px;
  .option-value {
    margin-bottom: 5px;
  }
}

.variation {
  margin-bottom: 10px;
  .select {
    margin-bottom: 5px;
  }
}

.dz-preview i.fa-star {
  margin-left: 3px;
  color: #c9c9c8;
}
