<div class="row shipping_rates">
  <div class="col-md-12">
    <h3 class="title"><%= t "merchant.admin.shipping_rates.add_shipping_rate" %></h3>
    <div class="row">
      <%= react_component "ShippingRateForm", @props, {prerender: true} %>
    </div>
  </div>
</div>
