<div class="content-box-large">
  <div class="panel-heading">
    <h3><%= t "admin.plans.edit.title" %> <%= "##{@plan.id}" %></h3>
  </div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>
