body {
  /* Background Images */
  .bg-img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("../images/landing/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    background: $purple;

    .navbar-brand.logo {
      img {
        width: 150px;
      }
    }
  }
}
