@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Glegoo", sans-serif;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
}

hr {
  border-color: #222;
}

a {
  color: #666;
  &:hover, &:focus, &:active {
    color: #f1c40f;
  }
}

/* Buttons */
.btn {
  font-weight: 400;
}
.btn-primary {
  background: #f1c40f;
  color: #fff !important;
  border: 1px solid #f1c40f;
}

/* Alert, Label */
.alert {
  margin-bottom: 0;
}
label {
  font-weight: 400;
}

/* Header */
.header {
  .top {
    background: #f0f0f0;
    a {
      color: #222;
      padding-right: 10px;
    }
  }
  .languages {
    a {
      color: #222;
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}

/* Navigation */
.navbar {
  border-radius: 0px;
  border: none;
}
.navbar-default {
  background: #222;
  .navbar-brand {
    color: #f0f0f0;
    &:hover {
      color: #fafafa;
    }
  }
  .navbar-collapse {
    border-color: transparent;
  }
  .navbar-toggle {
    border-color: #eee;
    &:hover, &:active, &:focus {
      background: transparent;
      border-color: #f1c40f;
      .icon-bar {
        background-color: #f1c40f;
      }
    }
    .icon-bar {
      background-color: #eee;
      height: 1px;
    }
  }
  .cart {
    i {
      margin-right: 5px;
    }
  }
}

/* Login, register */
.login, .register {
  .title {
    margin-bottom: 15px;
  }
  p.small {
    margin-top: 10px;
  }
}

/* Category */
.product-item {
  text-align: center;
  margin-bottom: 20px;
  img {
    display: inline-block;
  }
  .name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .price {
    font-weight: 400;
  }
}

/* Cart */
.cart-container {
  width: 320px;
  background: #eee;
  bottom: 0;
  display: block;
  padding: 0px;
  position: fixed;
  right: -320px;
  top: 0;
  z-index: 999;
  padding: 5px;
  transition-property: all;
	transition-duration: 0.5s;
  -webkit-transform: translateZ(0);
  overflow: hidden;
  .col-xs-3 {
    padding: 0;
    text-align: center;
  }
  &.open {
    right: 0;
  }
  .row {
    margin-bottom: 10px;
  }
  .item {
    .fa {
      font-size: 10px;
      margin: 0 5px;
    }
  }
  .fa {
    color: #aaa;
    cursor: pointer;
  }
  .alert-danger {
    margin-bottom: 15px;
  }
  .cart-buttons {
    .btn {
      margin: 5px;
    }
  }
  .image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
  }
}

/* Product Slider */
.ps-container {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .ps-feature {
    margin: auto;
    max-width: 400px;
    overflow: hidden;
    li {
      text-align: center;
      display: none;
      &.active {
        display: block;
      }
    }
    img {
      display: inline-block;
    }
  }
  .ps-navigation {
    text-align: center;
    li {
      margin: 10px;
      display: inline-block;
      margin: 15px 5px;
    }
    img {
      cursor: pointer;
    }
  }
}

/* Checkout */
.checkout {
  padding-top: 30px;
  .col-sm-6:last-child {
    h2 {
      margin-bottom: 40px;
    }
  }
}

.checkout-form {
  .billing-address > label {
    margin-bottom: 15px;
  }
  .billing-address p {
    margin-bottom: 5px;
  }
  form {
    p {
      margin: 0;
    }
    .form-group {
      margin-bottom: 5px;
    }
  }
  .steps {
    list-style-type: none;
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
    li {
      .badge {
        font-size: 20px;
        border-radius: 20px;
        margin-right: 3px;
        &.active {
          background: #2ecc71;
        }
      }
      font-size: 22px;
      display: inline;
      margin-right: 15px;
    }
  }
  .summary {
    background: #eee;
    padding: 10px;
    h2 {
      border-bottom: 1px solid #aaa;
      padding-bottom: 10px;
    }
    p {
      margin-bottom: 3px;
      font-weight: bold;
      label, i {
        margin-right: 15px;
        font-weight: normal !important
      }
    }
    .cart-items {
      margin-top: 15px;
    }
  }
}
