section.content {
  padding-bottom: 10px;
  .main-wrapper {
    padding-bottom: 40px;
  }
  .title {
    font-size: 22px;
    margin-top: 10px;
    a {
      margin-left: 5px;
    }
  }
  .top-bar {
    height: 50px;
    background: $white;
    border-bottom: 3px solid darken($white-dark, 3%);
    margin-bottom: 10px;
    .navbar {
      margin-bottom: 0;
    }
    .navbar-toggle {
      display: block;
      padding-top: 7px;
      .icon-bar {
        background: $gray;
      }
    }
    .search {
      display: inline-block;
    }
    .search-form {
      padding-top: 5px;
      min-width:300px;
      .form-control {
        width: 100%;
      }
      input[name='q'] {
        padding-left: 10px;
      }
    }
    .navbar-right {
      &.pull-right {
        display: inline-block;
        margin: 0;
        a {
          display: inline-block;
        }
      }
      .avatar {
        margin-top: 5px;
      }
      .open a {
        background: transparent;
      }
      li {
        float: left;
      }
      a {
        padding: 10px;
        &:hover, &:focus {
          background: transparent !important;
        }
      }
      img {
        display: block;
        background: lighten($base-dark, 60%);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: -10px;
      }
      .dropdown-menu {
        border: none;
        position: absolute;
        border-radius: 0;
        padding: 10px;
        color: $gray;
        background: $white-dark;
        right: 0;
        left: auto;
        a {
          color: $gray;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  section.content {
    .title {
      margin-top: 0;
      font-size: 24px;
    }
  }
}
