.product-list {
  .sortable {
    cursor: pointer;
    i {
      margin-left: 5px;
    }
  }
}

.variation-option {
  margin-bottom: 10px;
  .option-value {
    margin-bottom: 5px;
  }
}

.variation {
  margin-bottom: 10px;
  .select {
    margin-bottom: 5px;
  }
  .thumb {
    object-fit: cover;
  }
}
