$white: #ffffff;
$white-dark: #eeeeee;
$white-light: #ecf0f1;
$gray: #aaa;
$gray-dark: #222;
$gray-light: #9e9ea6;
$blue: #3498db;
$base-dark: #4C4C4A;
$base-light: #F68A1E;
$base-main: #E55925;
$green: #40d47e;
$red: #e74c3c;
$red-dark: #a94442;
$primary:       #e16756;
$secondary:     #f09172;
$dark:          #402651;
