.btn {
  margin-right: 5px;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  &.btn-success:hover, &.btn-success:focus {
    background: $btn-success-border !important;
    border-color: $btn-success-border !important;
  }
  &.btn-inline {
    border-radius: 4px !important;
  }
  &:hover, &:focus {
    box-shadow: none;
  }
}
.btn-group {
  .btn {
    text-transform: none;
    font-weight: normal;
    color: $gray;
    margin: 0;
    &.disabled {
      cursor: inherit;
    }
  }
}
.bulk-action {
  margin-top: 5px;
  li {
    padding: 0 !important;
  }
  .btn {
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
  }
  .dropdown {
    display: inline-block;
    .btn {
      &:hover, &:focus {
        border-color: #ccc;
        background: #fafafa;
      }
      border-radius: 0px 4px 4px 0;
      border-left: none;
    }
  }
}
