$input-border-color: #959ea7;
$input-bg-color: #e9ebed;

.form {
  &.registrations, &.login, &.password {
    h1 {
      margin-bottom: 15px;
    }
    h3 {
      margin-bottom: 20px;
      margin-top: 15px;
      color: $input-border-color;
      font-weight: normal;
    }
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    .form-control {
      border: 2px solid $input-border-color;
    }
  }
  .alert-warning, .alert-danger {
    border: none;
    background: none;
    padding: 0;
    line-height: 1.6;
    font-style: italic;
  }
  .alert-warning {
    @extend .alert-danger;
  }
  .styled-cb {
    font-weight: normal;
    display: inline-block;
    i {
      border-width: 2px;
      font-size: 14px;
      width: 18px;
      height: 18px;
    }
    input:checked + i {
      border-color: $green;
      color: $green;
    }
  }
  .form-group {
    &.password {
      position: relative;
      a {
        position: absolute;
        right: 10px;
        top: 12px;
        color: $sea;
        font-weight: bold;
        &:hover {
          color: lighten($sea, 20%);
        }
      }
    }
    &.remember-password {
      position: relative;
    }
    &.extensions {
      position: relative;
      i {
        color: #aaa;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 13px;
      }
    }
  }
}

.form-title {
  color: $gray;
  font-weight: 400;
}

.form-group {
  .label {
    .hint {
      font-size: 10px;
      font-weight: normal;
    }
  }
  .note-editor {
    border-color: $white-dark;
  }
  .panel-heading {
    padding: 5px;
  }
  .btn {
    border-radius: 4px;
  }
}

.input-group-addon {
  border: none;
}

.form-control {
  border: none;
  box-shadow: none !important;
  background: $input-bg-color;
  color: $gray-dark;
  &:focus {
    box-shadow: none;
  }
}

.field_with_errors {
  .form-control {
    border-color: $red-dark !important;
  }
}

.form-errors {
  color: $red-dark;
  font-size: 12px;
  span {
    display: block;
    line-height: 1.5em;
  }
}

.badge-danger {
  margin-left: 5px;
  background: $red-dark;
}

.dropzone {
  border: 2px dashed $input-bg-color;
  .dz-message {
    font-size: 20px;
    line-height: 1em;
    color: $input-border-color;
  }
  .dz-progress {
    background: rgba(255, 255, 255, 0.5) !important;
  }
  .fa-trash {
    color: $input-border-color;
    cursor: pointer;
  }
}

.select {
  position: relative;
  &:after {
    content:'\f0d7';
    font-family: 'FontAwesome';
    font-size: 18px;
    padding: 0 0 2px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 4px;
  }
  &:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    display: block;
  }
  select {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}
