.navbar-shopstory {
  padding: 7px;
  margin-bottom: 0;
  border-radius: 0;
  font-weight: bold;
  a {
    &:not(.btn) {
      background: none !important;
      padding: 15px 10px;
    }
  }
  .dropdown-menu {
    border: none;
    border-radius: 5px !important;
    box-shadow: none;
    background: $white-dark;
    a {
      color: $gray;
    }
  }
  .navbar-brand {
    padding: 15px 0;
  }
}
