<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="logo">
          <h1><a href="/">Shopstory Admin</a></h1>
        </div>
      </div>
      <div class="col-7">
        <div class="navbar navbar-inverse" role="banner">
          <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
              <li><%= link_to t("admin.menu.logout"), destroy_admin_session_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
