<div class="design generals">
  <%= render_breadcrumb %>
  <h3 class="title"><%= t "merchant.admin.design.generals.edit" %></h3>
  <div class="block">
    <%= react_component "design.GeneralForm", { props: @props } %>
  </div>
</div>
