<div class="row design generals">
  <div class="col-md-12">
    <h3 class="title"><%= t "merchant.admin.design.generals.edit" %></h3>
    <div class="block">
      <%= react_component "design.GeneralForm", @props, {prerender: true} %>
    </div>
  </div>
</div>
