<div class="design generals">

  <h3 class="title"><%= t "merchant.admin.design.generals.edit" %></h3>
  <div class="block">
    <%= react_component "GeneralForm", { props: @props } %>
  </div>
</div>
