<div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> text-center alert-dismissible fade show" role="alert">
      <a href="#" data-bs-dismiss="alert" class="close">x</a>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>
</div>
