<footer class="text-center" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 copyright">
        <%= t "application.copyright" %>
        &copy; ShopStory <%= Time.now.year %>
      </div>
    </div>
  </div>
</footer>
